@*
* Home page.
*
* @param message A status message from the controller.
*@
@(message: String)

@Main("Digits") {

  @MainNavbar("Home")
  <div class="container">
    <table class="table table-bordered table-responsive table-striped">
      <tr>
        <th>First</th> <th>Last</th> <th>Phone</th>
      </tr>
      <tr>
        <td>Lorem</td> <td>Ipsum</td> <td>808.555.1212</td>
      </tr>
      <tr>
        <td>Sam</td> <td>Nelson</td> <td>222.222.2222</td>
      </tr>
      <tr>
        <td>Ted</td> <td>Head</td> <td>444.444.4444</td>
      </tr>
    </table>
  </div>
}
